test

In [103]:
import pandas as pd
path= r'H:\Jupyter_test\supplierLeadTime\SLT.csv'

In [104]:
#encodin utf16
#use the first column as colum names
#parse the following columns as date
test = pd.read_csv(path, encoding='utf16', on_bad_lines='warn', index_col=False)

In [107]:
test[['PO Date','Estimated Delivery Date','Goods Receipt Posting Date','Goods Receipt Document Date']] = test[['PO Date','Estimated Delivery Date','Goods Receipt Posting Date','Goods Receipt Document Date']].apply(pd.to_datetime, format="%d.%m.%Y")

In [108]:
test.head(8)

,#,Document Internal ID,PO Date,Item No.,Q,Estimated Delivery Date,BP Code,BP Name,Goods Receipt Internal ID,Q_r,Goods Receipt Posting Date,Goods Receipt Document Date,Goods_Returned,Unnamed: 13
0,1,1,2014-05-06,200013,20.0,2014-05-06,71908,Turck GmbH & Co. KG,78.0,20.0,2014-05-19,2014-05-19,NaN,NaN
1,2,1,2014-05-06,200012,20.0,2014-05-06,71908,Turck GmbH & Co. KG,71.0,20.0,2014-05-15,2014-05-15,NaN,NaN
2,3,1,2014-05-06,200014,10.0,2014-05-06,71908,Turck GmbH & Co. KG,71.0,10.0,2014-05-15,2014-05-15,NaN,NaN
3,4,2,2014-05-07,500273,8.0,2014-05-07,71005,Knick Elektronische Messgeräte,77.0,8.0,2014-05-15,2014-05-15,NaN,NaN
4,5,3,2014-05-14,500280,1.0,2014-05-22,70706,HZ GmbH,74.0,1.0,2014-05-22,2014-05-22,NaN,NaN
5,6,4,2014-05-19,700036,50.0,2014-05-19,71105,LeitOn,86.0,50.0,2014-06-16,2014-06-16,NaN,NaN
6,7,5,2014-05-20,700037,50.0,2014-05-30,72205,Weidmüller,NaN,NaN,NaT,NaT,NaN,NaN
7,8,6,2014-05-20,500296,1.0,2014-05-20,71505,Piezosystem jena,NaN,NaN,NaT,NaT,NaN,NaN

In [109]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7423 entries, 0 to 7422
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   #                            7423 non-null   int64
 1   Document Internal ID         7423 non-null   int64
 2   PO Date                      7423 non-null   datetime64[ns]
 3   Item No.                     7423 non-null   int64
 4   Q                            7418 non-null   float64
 5   Estimated Delivery Date      7423 non-null   datetime64[ns]
 6   BP Code                      7423 non-null   int64
 7   BP Name                      7423 non-null   object
 8   Goods Receipt Internal ID    6971 non-null   float64
 9   Q_r                          6957 non-null   float64
 10  Goods Receipt Posting Date   6971 non-null   datetime64[ns]
 11  Goods Receipt Document Date  6971 non-null   datetime64[ns]
 12  Goods_Returned               101 non-null    float64
 13  Unnamed: 13                  0 non-null      float64
dtypes: datetime64[ns](4), float64(5), int64(4), object(1)
memory usage: 812.0+ KB

In [110]:
#keep all notnull for the goods receipt posting date - only analysis over what have been calculated 
test = test[test['Q_r'].notna()]
#keep all null for the Goods_Returned - make sure we have not returned
test = test[test['Goods_Returned'].isna()]

In [111]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6857 entries, 0 to 7411
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   #                            6857 non-null   int64
 1   Document Internal ID         6857 non-null   int64
 2   PO Date                      6857 non-null   datetime64[ns]
 3   Item No.                     6857 non-null   int64
 4   Q                            6857 non-null   float64
 5   Estimated Delivery Date      6857 non-null   datetime64[ns]
 6   BP Code                      6857 non-null   int64
 7   BP Name                      6857 non-null   object
 8   Goods Receipt Internal ID    6857 non-null   float64
 9   Q_r                          6857 non-null   float64
 10  Goods Receipt Posting Date   6857 non-null   datetime64[ns]
 11  Goods Receipt Document Date  6857 non-null   datetime64[ns]
 12  Goods_Returned               0 non-null      float64
 13  Unnamed: 13                  0 non-null      float64
dtypes: datetime64[ns](4), float64(5), int64(4), object(1)
memory usage: 803.6+ KB

In [112]:
test = test.drop(['#','Document Internal ID','Estimated Delivery Date','Goods Receipt Internal ID','Goods_Returned','Unnamed: 13'], axis=1)
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6857 entries, 0 to 7411
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   PO Date                      6857 non-null   datetime64[ns]
 1   Item No.                     6857 non-null   int64
 2   Q                            6857 non-null   float64
 3   BP Code                      6857 non-null   int64
 4   BP Name                      6857 non-null   object
 5   Q_r                          6857 non-null   float64
 6   Goods Receipt Posting Date   6857 non-null   datetime64[ns]
 7   Goods Receipt Document Date  6857 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(1)
memory usage: 482.1+ KB

In [113]:
test.head(10)

,PO Date,Item No.,Q,BP Code,BP Name,Q_r,Goods Receipt Posting Date,Goods Receipt Document Date
0,2014-05-06,200013,20.0,71908,Turck GmbH & Co. KG,20.0,2014-05-19,2014-05-19
1,2014-05-06,200012,20.0,71908,Turck GmbH & Co. KG,20.0,2014-05-15,2014-05-15
2,2014-05-06,200014,10.0,71908,Turck GmbH & Co. KG,10.0,2014-05-15,2014-05-15
3,2014-05-07,500273,8.0,71005,Knick Elektronische Messgeräte,8.0,2014-05-15,2014-05-15
4,2014-05-14,500280,1.0,70706,HZ GmbH,1.0,2014-05-22,2014-05-22
5,2014-05-19,700036,50.0,71105,LeitOn,50.0,2014-06-16,2014-06-16
9,2014-05-21,400014,50.0,71302,naujok,50.0,2014-06-30,2014-06-30
10,2014-05-21,400017,100.0,71302,naujok,100.0,2014-06-30,2014-06-30
11,2014-05-21,400020,50.0,71302,naujok,50.0,2014-06-30,2014-06-30
12,2014-05-21,400015,50.0,71302,naujok,50.0,2014-06-30,2014-06-30

In [114]:
test['Val_Diff'] = test['Goods Receipt Posting Date'] - test['PO Date']
test.head(20)

,PO Date,Item No.,Q,BP Code,BP Name,Q_r,Goods Receipt Posting Date,Goods Receipt Document Date,Val_Diff
0,2014-05-06,200013,20.0,71908,Turck GmbH & Co. KG,20.0,2014-05-19,2014-05-19,13 days
1,2014-05-06,200012,20.0,71908,Turck GmbH & Co. KG,20.0,2014-05-15,2014-05-15,9 days
2,2014-05-06,200014,10.0,71908,Turck GmbH & Co. KG,10.0,2014-05-15,2014-05-15,9 days
3,2014-05-07,500273,8.0,71005,Knick Elektronische Messgeräte,8.0,2014-05-15,2014-05-15,8 days
4,2014-05-14,500280,1.0,70706,HZ GmbH,1.0,2014-05-22,2014-05-22,8 days
5,2014-05-19,700036,50.0,71105,LeitOn,50.0,2014-06-16,2014-06-16,28 days
9,2014-05-21,400014,50.0,71302,naujok,50.0,2014-06-30,2014-06-30,40 days
10,2014-05-21,400017,100.0,71302,naujok,100.0,2014-06-30,2014-06-30,40 days
11,2014-05-21,400020,50.0,71302,naujok,50.0,2014-06-30,2014-06-30,40 days
12,2014-05-21,400015,50.0,71302,naujok,50.0,2014-06-30,2014-06-30,40 days
13,2014-05-21,400018,50.0,71302,naujok,50.0,2014-06-30,2014-06-30,40 days
14,2014-05-21,400021,50.0,71302,naujok,50.0,2014-06-30,2014-06-30,40 days
15,2014-05-21,400013,100.0,71302,naujok,100.0,2014-06-30,2014-06-30,40 days
16,2014-05-21,400016,50.0,71302,naujok,50.0,2014-06-30,2014-06-30,40 days
17,2014-05-21,400019,100.0,71302,naujok,100.0,2014-06-30,2014-06-30,40 days
18,2014-05-22,500054,50.0,70501,Fischer Elektronik GmbH,50.0,2014-06-24,2014-06-24,33 days
19,2014-05-22,500058,50.0,70501,Fischer Elektronik GmbH,50.0,2014-07-10,2014-07-10,49 days
20,2014-05-22,500059,50.0,70501,Fischer Elektronik GmbH,50.0,2014-12-11,2014-12-11,203 days
21,2014-05-22,500298,50.0,70501,Fischer Elektronik GmbH,50.0,2014-06-24,2014-06-24,33 days
22,2014-05-22,500053,100.0,70501,Fischer Elektronik GmbH,100.0,2014-06-24,2014-06-24,33 days

In [122]:
testBP = test.loc[test['BP Name'] == 'WIR electronic GmbH']
testBP

,PO Date,Item No.,Q,BP Code,BP Name,Q_r,Goods Receipt Posting Date,Goods Receipt Document Date,Val_Diff
34,2014-05-27,500068,25.0,72201,WIR electronic GmbH,25.0,2014-06-24,2014-06-24,28 days
56,2014-07-07,500063,20.0,72201,WIR electronic GmbH,20.0,2014-07-28,2014-07-28,21 days
57,2014-07-07,500061,10.0,72201,WIR electronic GmbH,10.0,2014-07-28,2014-07-28,21 days
235,2015-05-13,500064,30.0,72201,WIR electronic GmbH,6.0,2015-06-16,2015-05-27,34 days
236,2015-05-13,500289,10.0,72201,WIR electronic GmbH,2.0,2015-06-16,2015-05-27,34 days
...,...,...,...,...,...,...,...,...,...
6929,2022-03-22,500068,60.0,72201,WIR electronic GmbH,60.0,2022-07-11,2022-07-11,111 days
6930,2022-03-22,500920,50.0,72201,WIR electronic GmbH,50.0,2022-06-15,2022-05-31,85 days
7306,2022-08-08,501048,20.0,72201,WIR electronic GmbH,4.0,2022-08-29,2022-08-29,21 days
7307,2022-08-08,501047,20.0,72201,WIR electronic GmbH,4.0,2022-08-29,2022-08-29,21 days
7308,2022-08-08,501046,20.0,72201,WIR electronic GmbH,4.0,2022-08-29,2022-08-29,21 days

In [116]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6857 entries, 0 to 7411
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   PO Date                      6857 non-null   datetime64[ns]
 1   Item No.                     6857 non-null   int64
 2   Q                            6857 non-null   float64
 3   BP Code                      6857 non-null   int64
 4   BP Name                      6857 non-null   object
 5   Q_r                          6857 non-null   float64
 6   Goods Receipt Posting Date   6857 non-null   datetime64[ns]
 7   Goods Receipt Document Date  6857 non-null   datetime64[ns]
 8   Val_Diff                     6857 non-null   timedelta64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(1), timedelta64[ns](1)
memory usage: 535.7+ KB

In [123]:
testbp=test[['BP Name','Val_Diff']]
testbp=test.groupby('BP Name')['Val_Diff'].mean().reset_index()
testbp=testbp.sort_values(by=['Val_Diff'], ascending=False)

testbp.head(40)

#https://stackoverflow.com/questions/29314424/pandas-using-groupby-to-get-mean-for-each-data-category

,BP Name,Val_Diff
16,Berghammer Techn. Büro,349 days 07:14:53.959731544
174,alge,173 days 00:00:00
109,MIS Industrie Systeme GmbH & Co. KG,148 days 10:49:45.365853658
58,Gummi Präg GmbH,144 days 03:36:00
127,PCB Synotech GmbH,124 days 16:04:10.434782608
90,Kirstein GmbH,124 days 09:52:56.470588236
9,BMK professional electronics GmbH,121 days 20:00:00
54,Gastops Long Live Equipment,110 days 00:00:00
141,SUMIDA flexible Connections GmbH,108 days 12:00:00
179,dataTec,71 days 00:00:00
68,Heilind Electronics GmbH,68 days 18:00:00
126,PANTEC Engineering AG,66 days 00:00:00
25,CONEC Elektronische Bauelemente GmbH,65 days 04:48:00
91,Kistler Instrumente GmbH,60 days 20:00:00
155,TomTom Tools GmbH,59 days 22:37:42.857142857
119,Mittel & Wege,57 days 12:48:00
38,ERBESSD Instruments,52 days 00:00:00
165,WIR electronic GmbH,50 days 14:59:09.295774648
3,ATEK Antriebstechnik Willi Glapiak GmbH,50 days 00:00:00
82,Inserco Fasteners,49 days 00:00:00
157,Treon,49 days 00:00:00
14,Baumer GmbH,45 days 20:34:17.142857143
47,FCT electronic GmbH,43 days 21:49:05.454545454
10,BOPLA Gehäuse Systeme GmbH,42 days 16:51:53.513513513
106,ME-Meßsysteme GmbH,42 days 09:17:25.161290322
51,Fischer Elektronik GmbH,42 days 04:04:48
136,Rennsport Production Center GmbH,41 days 03:39:07.826086956
188,naujok,40 days 14:40:22.748815166
138,SCHMID AUTOMATION GmbH,39 days 12:00:00
64,HYDAC TECHNOLOGY GmbH,38 days 22:24:34.698795180
75,ICO Innovative Computer,38 days 20:34:17.142857143
152,TRIEB Maschinenbau GmbH,38 days 00:00:00
86,KREATIZE GmbH,37 days 18:00:00
85,JUMO GmbH & Co. KG,37 days 00:00:00
35,EATON Technologies GmbH,36 days 06:51:25.714285714
117,Metra Meß- und Frequenztechnik in Radebeul e.K.,35 days 07:23:04.615384615
44,Erhard Hippe KG,35 days 06:00:00
130,Proxitron GmbH,35 days 00:00:00
63,HW Sensor Messtechnik,34 days 12:26:40
145,Senis magnetic & Current measurements,34 days 00:00:00

In [118]:
testbp.describe()

                          Val_Diff
count                          194
mean    21 days 08:57:27.778627670
std     44 days 08:12:57.991371076
min            -304 days +00:00:00
25%      5 days 07:28:01.318681318
50%               12 days 22:00:00
75%     29 days 01:03:51.313926042
max    349 days 07:14:53.959731544